# Dependency directories
node_modules/

# Output directory
public/

# Environment variables
.env

# Log files
*.log

# macOS specific files
.DS_Store

# IDE or editor specific files
.vscode/
.idea/

# npm package-lock.json file
package-lock.json

# Compiled JavaScript
*.js

# Compiled CSS
*.css

# Build directory (if different from 'public/')
# build/

# Any sensitive or environment-specific files
# config.js (or any file containing sensitive data)

# Ignore all .DS_Store files in this project
**/.DS_Store

# Ignore all .idea files in this project
.idea/**

# Ignore all .vscode files in this project
.vscode/**

# Ignore node_modules except node_modules/example/
node_modules/
!node_modules/example/

# Ignore all files ending in .log
*.log
